<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<link rel="stylesheet" type="text/css"
		href="#{facesContext.externalContext.requestContextPath}imagem.css"
		media="screen" />

<title>Teste</title>



<style type="text/css">


	.ui-layout-center {
		overflow: hidden !important;
	}

	.ui-layout-center .ui-layout-unit-content {
		overflow: hidden !important;
	}


	.ui-layout, .ui-layout-doc, .ui-layout-unit, .ui-layout-wrap,
		.ui-layout-bd, .ui-layout-hd {
		border: none;
	}

	.ui-dialog-footer.ui-widget-content  {
    	 background-image: none;
     	 background-color: green;
	}


	.ui-dialog-titlebar {

		text-align: left; font-size:5px;color: #ffffff
	}
	
	.ui-dialog {
	text-align: left; font-size:5px;color: #ffffff
	}
	
	
	.someCssClassName {
    
	}


	.ui-layout-unit {
		padding: 0 !important;
	}

	.ui-layout-unit .ui-layout-unit-content {
		padding: 0 !important;
	}

	.ui-widget {
		font-size: 12px !important;
	}

	.modal-transparente {
    	filter:alpha(opacity=0) !important; 
    	opacity: 0 !important;  
	}



</style>
</h:head>


<h:body>


	
	
<h:form id="form1">
				
				
	<p:growl id="growl" showDetail="true" sticky="true" life="3000" />


	<h:outputLabel  value="Goodbye!" style="text-align: left; font-size:35px;" />
	<p></p>
	<h:outputLabel  value="Number of controls of displayed #{goodbyeBean.number}"/>

</h:form>


</h:body>

</html>
